.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}
.button {
  background: #03A9F4;
  border: none;
  padding: 10px;
  width: 180px;
  color: #fff;
  border-radius: 10px;
  font-size: 1.05em;
  font-weight: bold;
}
