.container{
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  width: 400px;
  height: 300px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input{
  display: block;
  margin: 0px auto;
  width: 70%;
  padding: 8px 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
}
.title{
  display: block;
  margin: 0px auto;
  width: 80%;
  padding: 8px 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}
