/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  font-family: 'Lato', sans-serif;
}

._1g6GOg12H2qEIVQ295F5mK{
  box-shadow: 0px 5px 7px #d8d8d8;
  margin-bottom: 10px;
}
._1ojWqIAYgXc0bzMgobM23L{
  height: 50px;
  display: flex;
  align-items: center;
}
._1xmlpI5KS1Pcu-cfe5S1e6{
  display: block;
  width: 35px;
  margin-right: 20px;
}

._2u1j5IWTHAxE_d2HstFIAS{
  max-width: 1000px;
  margin: auto;
}

._3IXk9khJO_6h0otmfOfgo7{
  color: #000;
  padding: 5px 10px;
  font-size: 1em;
  text-decoration: none;
}


._2W1PUQoTQnG2-GutbCHgIC{
  border: 1px solid #cdcdcd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: .9em;
}
._3t64iyFbrURqI8dqyHLzf5{
  text-align: center;
  width: 150px;
}
._3kV9xQbY0yNRLYL6Ui0JdT{
  text-align: center;
  width: 150px;
  margin-left: 10px;
}
._7tUje_UmwfZ9OtkYkZr9w{
  color: red;
  text-align: center;
  width: 100px;
  margin-left: 10px;
}
._3WqK4L8DbPk8MoMMEobeZR{
  width: 100px;
  text-align: center;
}
.qCQfdUWi_8AbJ11Yv7etT{
  width: 30px;
  margin: auto 15px;
}

._1qUk6VsgowvVgTc27eZKH2{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

._-0scfQwVQouwUepRj_6Ry{
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
  animation-name: _1Z6G8xiPNV8t4rbYVQpHAu;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes _1Z6G8xiPNV8t4rbYVQpHAu {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

._21a4j4vQh2abgHONMh9rzA{
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.OhcmI9yJ1axGFv5saHdVv{
  width: 400px;
  height: 300px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ndPQ3LJTmL8_dliV0ElHL{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
._2z3NcXR-HSvOu38XeCgmIY{
  display: block;
  margin: 0px auto;
  width: 70%;
  padding: 8px 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
}
._2J5JgVtRcEV5xQUGX17CgE{
  display: block;
  margin: 0px auto;
  width: 80%;
  padding: 8px 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

