/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  font-family: 'Lato', sans-serif;
}

._1g6GOg12H2qEIVQ295F5mK{
  box-shadow: 0px 5px 7px #d8d8d8;
  margin-bottom: 10px;
}
._1ojWqIAYgXc0bzMgobM23L{
  height: 50px;
  display: flex;
  align-items: center;
}
._1xmlpI5KS1Pcu-cfe5S1e6{
  display: block;
  width: 35px;
  margin-right: 20px;
}

._2u1j5IWTHAxE_d2HstFIAS{
  max-width: 1000px;
  margin: auto;
}

._3IXk9khJO_6h0otmfOfgo7{
  color: #000;
  padding: 5px 10px;
  font-size: 1em;
  text-decoration: none;
}

