/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  font-family: 'Lato', sans-serif;
}

._1g6GOg12H2qEIVQ295F5mK{
  box-shadow: 0px 5px 7px #d8d8d8;
  margin-bottom: 10px;
}
._1ojWqIAYgXc0bzMgobM23L{
  height: 50px;
  display: flex;
  align-items: center;
}
._1xmlpI5KS1Pcu-cfe5S1e6{
  display: block;
  width: 35px;
  margin-right: 20px;
}

._2u1j5IWTHAxE_d2HstFIAS{
  max-width: 1000px;
  margin: auto;
}

._3IXk9khJO_6h0otmfOfgo7{
  color: #000;
  padding: 5px 10px;
  font-size: 1em;
  text-decoration: none;
}


._2W1PUQoTQnG2-GutbCHgIC{
  border: 1px solid #cdcdcd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: .9em;
}
._3t64iyFbrURqI8dqyHLzf5{
  text-align: center;
  width: 150px;
}
._3kV9xQbY0yNRLYL6Ui0JdT{
  text-align: center;
  width: 150px;
  margin-left: 10px;
}
._7tUje_UmwfZ9OtkYkZr9w{
  color: red;
  text-align: center;
  width: 100px;
  margin-left: 10px;
}
._3WqK4L8DbPk8MoMMEobeZR{
  width: 100px;
  text-align: center;
  margin-left: 10px;
}
.qCQfdUWi_8AbJ11Yv7etT{
  width: 30px;
}
.vy8zUzdBqh9UKh5aHw1r4, ._3lwAlk-pnuMX6E-wLakk8l{
  margin-left: 10px;
  width: 65px;
  background: #e0772c;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 3px 10px;
  text-align: center;
}
._3lwAlk-pnuMX6E-wLakk8l{
  background: #088c19;
}

._1qUk6VsgowvVgTc27eZKH2{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

._-0scfQwVQouwUepRj_6Ry{
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
  animation-name: _1Z6G8xiPNV8t4rbYVQpHAu;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes _1Z6G8xiPNV8t4rbYVQpHAu {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

._21a4j4vQh2abgHONMh9rzA{
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.OhcmI9yJ1axGFv5saHdVv{
  width: 400px;
  height: 300px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ndPQ3LJTmL8_dliV0ElHL{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
._2z3NcXR-HSvOu38XeCgmIY{
  display: block;
  margin: 0px auto;
  width: 70%;
  padding: 8px 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
}
._2J5JgVtRcEV5xQUGX17CgE{
  display: block;
  margin: 0px auto;
  width: 80%;
  padding: 8px 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

._1DCHnMpOtSuUxo8Jup75NU{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
._1iWIGxKAhqKtQKqzZK0vLW{
  text-align: center;
  width: 400px;
  height: 400px;
  border: 1px solid #cdcdcd;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 20px gray;
}
._3HZqvIb47xgQKavllYPM0O{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
._1mAkc2z3ypwHL7GbiSrUM4{
  font-size: 2em;
  color: weight;
  margin-bottom: 30px;
}
._1isGGADzRB078Ey5yvG0H0{
  color: gray;
  font-weight: bold;
  margin-right: 15px;
}
._2Gzuy815ATi6o6J7BRSSRU{

}
._30dOszMdeWxbGrlIYKQQcf{
  width: 100px;
  text-align: center;
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 6px;
  background: #2196F3;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
}
._2qN8rOysF9ehkEeAbvb0cl{
  background: gray!important;
}
._1r87MWSKqUHY9tUBUeMprP{
  color: red;
  font-weight: bold;
}
._3_jiSvsGKp_a4eohO5uBUw{
  margin-left: 10px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 6px;
  color: gray;
}
._15KgPcGlZM2V-riafc5bxt{
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;
}

._11x3ikKXnhntPn9EgoF86Y{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}
._2Z7N5aKxsmjcpzUuxNO5IQ{
  width: 120px;
  margin-bottom: 20px;
}
._1nXMQ-M7eghdoX6O0b3XAw{
  margin-top: 50px;
  font-size: 1.5em;
  color: #9E9E9E;
}
._3uAmf7XTBRZHm2W30ucT71{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid green;
  padding: 20px;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px gray;
}

._3kgaVXMYhCqNyj2RPDc3ZI{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}
._1wCJrpNVPWKdsyYzcfsOLe{
  width: 120px;
  margin-bottom: 20px;
}
._2r5lx82RX8C1CtcRyqdWbh{
  margin-top: 50px;
  font-size: 1.5em;
  color: #9E9E9E;
}
._3wdmRZ3qYKK-qFqMHvknrR{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
  padding: 20px;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px gray;
}


.dcTlzexy7Rswblruc-GWZ{
  border: 1px solid #cdcdcd;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  width: 450px;
  margin: 60px auto;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

._1KZqFDf625jhN1XjiuVOSX{
  text-align: center;
  width: 100%;
  height: 100%;
}
._2HAomnZPYEGgSKPnl2DHH8{
  font-size: 1.2em;
  font-weight: bold;
  margin: 50px auto;
}
._2JyHj7ZdAIyKbMr7hFPVqx{
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  margin-bottom: 16px;
  box-sizing: border-box;
}

._3yaTwsfARUln9J5F56Rdwg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
._2Cqn3SE_o3EO82kETjLE2V{
  width: 120px;
  margin-bottom: 35px;
}
._2MzG3-BgKBoT9a_a9819W_{
  font-size: 1.3em;
  color: gray;
}

._3OcPuTudFJEUbjW1hGB3pZ{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
._2jZM591z7tp2pXq1uVe9yY{
  width: 120px;
  margin-bottom: 35px;
}
._240YUQmIamH0CvWc5KyztB{
  font-size: 1.3em;
  color: gray;
}

