.form{
  text-align: center;
  width: 100%;
  height: 100%;
}
.title{
  font-size: 1.2em;
  font-weight: bold;
  margin: 50px auto;
}
.input{
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  margin-bottom: 16px;
  box-sizing: border-box;
}
