.header{
  font-weight: bold;
  color: #ffffff!important;
  background: #2196F3;
}
.header div {
  color: #ffffff!important;
}
.item{
  border: 1px solid #cdcdcd;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: .9em;
  border-top: none;
}
.item:hover{
  background: #2195f3;
}
.name{
  text-align: center;
  width: 150px;
  color: black;
  text-decoration: none;
}
.adress{
  text-align: center;
  width: 150px;
  margin-left: 10px;
}
.const{
  color: red;
  text-align: center;
  width: 100px;
}
.number{
  width: 100px;
  text-align: center;
  margin-left: 10px;
}
.icon{
  width: 30px;
}
.button, .button_paid, .button_new{
  margin-left: 10px;
  width: 98px;
  background: #fff;
  color: orange;
  border-radius: 5px;
  padding: 3px 10px;
  text-align: center;
  border: 1px solid;
}
.button_paid{
  color: green;
}
.button_new{
  color: #2195f3;
}
.update{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  width: 60px;
}
.update img {
  width: 18px;
}
.latest_pay{
  width: 130px;
  text-align: center;
}
.status{
  width: 100px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.active, .baja{
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  margin-right: 10px;
}
.active{
  background: green;
}
