.item{
  border: 1px solid #cdcdcd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: .9em;
}
.name{
  text-align: center;
  width: 150px;
}
.adress{
  text-align: center;
  width: 150px;
  margin-left: 10px;
}
.const{
  color: red;
  text-align: center;
  width: 100px;
  margin-left: 10px;
}
.number{
  width: 100px;
  text-align: center;
  margin-left: 10px;
}
.icon{
  width: 30px;
}
.button, .button_paid{
  margin-left: 10px;
  width: 65px;
  background: #e0772c;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 3px 10px;
  text-align: center;
}
.button_paid{
  background: #088c19;
}
