.header{
  font-weight: bold;
  color: #ffffff!important;
  background: #2196F3;
}
.header div {
  color: #ffffff!important;
}
.item{
  border: 1px solid #cdcdcd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: .9em;
}
.name{
  text-align: center;
  width: 150px;
}
.adress{
  text-align: center;
  width: 150px;
  margin-left: 10px;
}
.const{
  color: red;
  text-align: center;
  width: 100px;
  margin-left: 10px;
}
.number{
  width: 100px;
  text-align: center;
  margin-left: 10px;
}
.icon{
  width: 30px;
}
.button, .button_paid, .button_new{
  margin-left: 10px;
  width: 65px;
  background: #e0772c;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 3px 10px;
  text-align: center;
}
.button_paid{
  background: #088c19;
}
.button_new{
  background: #2195f3;
}
.update{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  width: 60px;
}
.update img {
  width: 30px;
}
.latest_pay{
  width: 180px;
  text-align: center;
}
.status{
  text-align: center;
  width: 100px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status_body{
  border: 1px solid #2195f3;
  width: 54px;
  border-radius: 4px;
  color: #2195f3;
  padding: 3px;
}
.status_body_baja{
  border: 1px solid red;
  color: red;
}
